:host {
  section {
    background-color: var(--section-background-color);
    color: var(--section-color);
    min-height: 640px;

    .section-content {
      // margin-top: 60px;
    }

    .subtitle-container {
      transform: translateY(-50%);
      padding-left: 40px;
      opacity: 0.6;

      .italic {
        color: var(--section-color);
      }
    }
  }

  @media (max-width: 700px) {
    section .subtitle-container {
      transform: translateY(0);
      padding-bottom: 40px;
    }

  }
}
