@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  .width-container {
    display: grid;
    grid-template-columns:
    [full-start] minmax(24px, 1fr)
    [content-start] minmax(0, 1280px)
    [content-end] minmax(24px, 1fr)
    [full-end];
  }

  .height-container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
  }

  .content {
    grid-column: content;
  }

  .full-bleed {
    grid-column: full;
  }

  header {
    padding-top: 2rem;

    &.floating {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
    }

    .menu {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    margin-right: auto;

    a {
      cursor: pointer;
    }
  }

  a mat-icon {
    color: var(--mat-sys-primary);
  }

  .hero {
    // width: 100vw;
    height: 840px;
    max-height: 100vh;
    overflow: hidden; // currently for header, TODO make phone header
    padding: 100px 0;
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 30%,
        rgb(0 0 0 / 0.7) 100%,
    ),
    url("https://www.augsburg.de/fileadmin/_processed_/d/8/csm_250717_Website_2025_Titelbild_v01_1661366e19.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-title {
      margin-top: auto;
      color: white;
    }
  }

  .main-content {
  }

  footer {
    height: 400px;
    background-color: var(--mat-sys-surface-container-highest);
    color: white;
    padding-top: var(--xl);

    div.content {
      display: grid;
      grid-template-areas: 'logo . connected'
    'contacts location connected'
    'buttons . .';
    }

    h3, h5 {
      color: map.get(mci.$primary-palette, 20);
      // color: var(--mat-sys-on-background);
    }
  }
}
