<mci-header />
<mci-hero />

<div class="height-container">
  <!--  <div class="content main-content">-->
  <div class="width-container">
    <mci-welcome class="content" />
  </div>

  <div class="full-bleed">
    <mci-join-us-on-sunday class="content" />
  </div>

  <div class="width-container">
    <mci-our-values class="content" />
  </div>

  <div class="full-bleed">
    <mci-prayer class="width-container" />
  </div>

  <div class="width-container">
    <mci-our-story class="content" />
  </div>

  <div class="full-bleed">
    <mci-our-pastors class="content" />
  </div>

  <router-outlet />
</div>

<mci-footer />
<!--</div>-->
