<header class="width-container floating">
  <div class="content menu">
    <div class="logo">logo</div>
    <button mat-button>Home</button>
    <button mat-button>Storia</button>
    <button mat-button>Parroci</button>
    <button mat-button>Pfarramt</button>
    <button mat-button>Galleria</button>
    <button mat-button>Contatti</button>
    <button mat-button>Calendario messe</button>
    <button mat-button>Notizie</button>
    <button mat-button>Carlo Acutis</button>
    <button mat-icon-button>Fb</button>
    <button mat-icon-button>Ig</button>
  </div>
</header>

<div class="width-container height-container">
  <div class="content main-content">
    <router-outlet />
  </div>

  <footer class="full-bleed width-container">
    <div class="content">some footer</div>
  </footer>
</div>
