<mci-section
  title="Il Nostro Parroco"
  subtitle="Padre Bruno Zuchowski"
  backgroundColor="var(--mat-sys-on-tertiary-container)"
  textColor="var(--mat-sys-on-tertiary)"
>
  <div class="priest-presentation">
    <!--    <img alt="Don Bruno" src="http://www.mci-augsburg.de/resources/_wsb_190x141_bruno1.JPG" />-->
    <img alt="Don Bruno" src="https://www.aclibaviera.altervista.org/MISSIONE.KE/Bruno.jpg" />
    <div class="priest-letter">
      <mat-icon svgIcon="quotes-end" class="quotes-start"></mat-icon>
      <p>Cari Italiani,</p>
      <p>
        senza una lunga preparazione, inaspettatamente per me e per tutti, sono arrivato ad Augsburg
        per essere pastore per Voi e con Voi, per credere con Voi, per avere cura di Voi e gioire
        insieme al pensiero che Dio è l’amore che ci unisce.
      </p>
      <p>
        Noi siamo stati chiamati e scelti per muovere „la nave“ e per riprendere a bordo coloro i quali sono caduti in
        acqua.
      </p>
      <p>
        Il Santo Padre Benedetto XVI ha scritto nell’Enciclica “Dio è amore”: “L'amore del prossimo,
        radicato nell'amore di Dio, è anzitutto un compito per ogni singolo fedele, ma è anche un compito
        per l'intera comunità ecclesiale, e questo a tutti i suoi livelli: dalla comunità locale alla
        Chiesa particolare fino alla Chiesa universale nella sua globalità.
        Amore di Dio e amore del prossimo si fondono insieme: nel più piccolo incontriamo Gesù stesso e
        in Gesù incontriamo Dio. Per questo rimane compito della Chiesa interpretare sempre di nuovo questo
        collegamento tra lontananza e vicinanza in vista della vita pratica dei suoi membri.”
      </p>
      <p>
        Il messaggio centrale del Cristianesimo è: Dio ha interesse in te e nell’umanità e per questo
        Lui si impegna per te e per gli uomini. Noi non lo dobbiamo dimenticare.
      </p>
    </div>
  </div>
</mci-section>
