<mci-section
  title="Le Nostre Attivitá"
  subtitle="Occasioni per costruire legami autentici"
  backgroundColor="transparent"
  textColor="var(--mat-sys-tertiary)"
>
  <div class="groups-grid">
    <mci-card
      imgUrl="https://images.pexels.com/photos/5887653/pexels-photo-5887653.jpeg"
      title="Giovani famiglie"
      text="Uno spazio per dialogo, riflessione e fraternità. Incontri mensili, il sabato pomeriggio oppure la domenica dopo la Santa Messa. Contatta cat.franzese@gmail.com per informazioni"
    />
    <mci-card
      imgUrl="https://media.istockphoto.com/id/187092120/de/foto/dirigent-und-seniorschors%C3%A4nger.jpg?s=1024x1024&w=is&k=20&c=8jTztH7yK9mVK3RlpmClW81yeMyjZkCVpxeh4MHtDCA="
      title="Il coro"
      text="Cantando rendiamo più vive le nostre celebrazioni. Per informazioni, spartiti e i file dei canti contatta Alexander (015233853381) o Silvia (0172 8847786)."
    />
    <mci-card
      imgUrl="https://images.pexels.com/photos/8422248/pexels-photo-8422248.jpeg"
      title="Pomeriggio insieme (gruppo bambini)"
      text="Giochi, attività creative e una preghiera in italiano: uno spazio per divertirsi, fare amicizia e crescere insieme."
    />
    <mci-card
      imgUrl="https://images.pexels.com/photos/5709255/pexels-photo-5709255.jpeg"
      title="Noi e la nostra fede"
      text="Un luogo aperto a tutti per approfondire la fede, condividere esperienze e sostenerci nel cammino cristiano."
    />
  </div>
</mci-section>
