@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  background-color: map.get(mci.$secondary-palette, 20);

  section {
    .title {
      color: white;
    }

    .image-container {
      display: flex;
      gap: 40px;
      align-items: center;
      justify-content: space-between;

      img {
        width: auto;
        height: 500px;
      }
    }

    .prayer-container {
      max-width: 500px;
      color: white;
    }
  }
}
