<section class="content">
  <span class="italic italic-size-big title">Preghiera per gli emigranti</span>
  <div class="prayer-container">
    <p>
      O Gesù, che fin dai primi giorni della vostra vita terrena doveste lasciare con Maria vostra tenera Madre e con
      Giuseppe, il luogo natio, e sopportare in Egitto le pene e i disagi dei poveri emigranti, volgete pietoso lo
      sguardo
      sui nostri fratelli costretti dal bisogno ad abbandonare la diletta patria .
    </p>
    <p>
      Lontani da tutto quello che a loro è più caro, in cerca di onesto lavoro, essi vivono fra disagi e talvolta fra
      pericoli per la loro vita e per la salvezza dell'anima.
    </p>
    <p>
      Deh! siate ad essi guida nell'incerto cammino, aiuto nella fatica, conforto nei dolori; conservateli
      nell'integrità
      della fede, nella santità dei costumi, nell'affetto ai figli, alle spose, ai genitori lontani, e fate che, dopo il
      duro pellegrinaggio di questa terra, tutti possiamo raggiungere la patria beata. Così sia. Pater, Ave, Gloria.
    </p>
  </div>
</section>
