@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  background-color: map.get(mci.$secondary-palette, 20);
  display: block;

  section {
    .title {
      color: white;
    }

    .image-container {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 60px;

      img {
        width: 100%;
        max-width: 350px;
        height: auto;
      }

      .prayer-container {
        max-width: 500px;
        color: white;
      }
    }
  }

  @media (max-width: 700px) {
    section .image-container {
      flex-direction: column;
    }
  }
}
