:root {

  /* Distances */

  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;

  /* Colors */

  --primary: rgba(100, 41, 27, 1);
  --secondary: rgba(61, 73, 48, 1);
  --accent: rgba(144, 155, 123, 1);
  --white: rgb(255 255 255);
  --black: rgb(0 15 31);
  --transparent: rgb(0 0 0 / 0%);
}
