@font-face {
  font-display: swap;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/Epilogue-VariableFont_wght.ttf') format('tff');
}

@font-face {
  font-display: swap;
  font-family: Hurricane;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/Hurricane-Regular.ttf') format('tff');
}
