@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  section {
    margin-top: 130px;

    .section-content {
      max-width: 825px;
      margin: auto;
    }
  }

  .title {
    margin: auto;
    width: max-content;
    text-align: center;
    // color: map.get(mci.$tertiary-palette, 10);

    .highlight {
      // color: map.get(mci.$neutral-palette, 70);
      // color: map.get(mci.$tertiary-palette, 80);
      // color: map.get(mci.$primary-palette, 80);
      color: var(--mat-sys-inverse-primary);
    }
  }

  .subtitle {
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .italic-spacer {
    height: 120px;
    position: relative;
  }

  .italic-container {
    position: absolute;
    right: 0;
  }

  .card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    .card {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 30px;
      padding: 40px;
      height: 520px;
    }
  }
}
