@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  display: contents;

  footer {
    min-height: 400px;
    background-color: var(--mat-sys-surface-container-highest);
    color: var(--mat-sys-primary);
    padding-top: var(--xl);

    .footer-content {
      gap: 0;
      display: grid;
      grid-template-areas: 'logo . connected'
    'contacts location connected'
    'buttons . .';
    }

    img, .contacts {
      padding-left: var(--mat-button-text-horizontal-padding, 12px);
    }

    h3, h5 {
      color: map.get(mci.$primary-palette, 20);
      // color: var(--mat-sys-on-background);
    }

    .info-box {
      margin-top: 24px;
    }
  }

  @media (max-width: 700px) {
    footer {
      .footer-content {
        grid-template-areas: '. logo .'
                           'connected connected connected'
                           'contacts contacts contacts'
                           'location location location'
                           'buttons buttons buttons';
        gap: 20px;
        align-items: center;
        justify-items: center;
      }

      img, .contacts {
        padding-left: 0;
      }

      .contacts, .location {
        width: 100%;
        text-align: center;
      }

      .location {
        margin-bottom: 40px;
      }

      .social-media {
        display: flex;
        justify-content: center;
      }
    }
  }
}
