@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  .values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;

    .value-container {
      h2, h4 {
        color: map.get(mci.$secondary-palette, 30);
      }

      .message {
        color: map.get(mci.$secondary-palette, 50);
      }
    }

  }
}
