@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  header {
    padding-top: 2rem;

    &.floating {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
    }

    .menu {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    margin-right: auto;

    a {
      cursor: pointer;
    }
  }

  a mat-icon {
    display: revert;
    color: var(--mat-sys-on-surface);
  }

  .navigation {
    padding-right: 20px;
    // display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;

    button {
      color: var(--mat-sys-on-surface);
    }
  }

  @media (max-width: 950px) {
    .navigation {
      display: none;
    }

    a mat-icon {
      display: none;
    }
  }
}
