@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  .story-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .story-image {
    height: 500px;
    width: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .story-short {
    max-width: 50%;
  }
}
