<mci-section
  title="Insieme nella fede"
  subtitle="Ogni domenica"
  backgroundColor="var(--mat-sys-inverse-primary)"
  textColor="var(--mat-sys-on-primary-fixed)"
>
  <div class="image-container">
    <div>
      <p class="size-default description">
        La celebrazione eucaristica ci riunisce come comunità e ci accompagna nella vita di ogni giorno.
        Attraverso la preghiera e i sacramenti, custodiamo la nostra fede, rafforziamo i legami tra le
        famiglie e portiamo la ricchezza della nostra tradizione nella Chiesa che vive ad Augsburg.
      </p>
      <p class="size-default description">
        Nessuno vi giudicherá. <b>Le porte sono sempre aperte per tutti</b>.
        A chi si era allontanato e adesso sente il bisogno di riavvicinarsi come anche a chi
        si avvicina per la prima volta.
      </p>
    </div>
    <img src="https://images.pexels.com/photos/10325963/pexels-photo-10325963.jpeg" alt="mass" />

  </div>

  <div class="invitation">
    <div class="invitation-title">
      <!--    <h4>Questa domenica</h4>-->
      <!--    <h4>Unisciti a noi</h4>-->
      <h4>Ci trovi ogni domenica</h4>
    </div>

    <div class="size-default">Ore 11:00 · Santa Messa in italiano</div>
    <div class="size-default">Chiesa di St. Canisius, Hochfeldstr. 63, Augsburg</div>
    <br>
    <p>
      Ogni terza domenica del mese celebriamo la Santa Messa anche a Lauingen, alle ore 16:00, nella Spitalkirche.
    </p>
    <button matButton="filled">Scopri il calendario delle messe</button>
  </div>


  <div class="quote">
    <div class="italic italic-size-big">Non abbiate paura</div>
    <div class="italic italic-size-big">aprite le porte a Cristo</div>
  </div>
  <!--  <div class="italic italic-size-big">Partecipa anche tu</div>-->

</mci-section>

<!--<div>-->
<!--    <span>-->
<!--      La Missione è a disposizione per accompagnarti nei momenti importanti della vita:-->
<!--      dal battesimo al matrimonio, nella confessione e nei momenti di difficoltà,-->
<!--      con visite agli ammalati, benedizioni delle case e celebrazioni dei funerali.-->
<!--    </span>-->
<!--  <span>-->
<!--      Per ricevere i sacramenti o richiedere una celebrazione in lingua italiana, contattaci.-->
<!--    </span>-->
<!--</div>-->
