@use 'sass:map';
@use '../../../../styles/_theme-colors' as mci;

:host {
  display: contents;

  .italic {
    color: var(--mat-sys-on-primary-fixed);
    opacity: 0.8;
  }

  .description {
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding-block: 40px;
  }

  .description-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .image-container {
      align-self: center;
      justify-self: center;

      img {
        width: 100%;
        max-width: 600px;
        height: auto;
      }
    }
  }

  .invitation {
    text-align: center;
    max-width: 1000px;
    margin: 60px auto 0 auto;

    .invitation-title {
      text-align: center;
      text-transform: uppercase;
      padding: 24px;
    }
  }

  .quote {
    margin-top: 40px;
    margin-bottom: -20px;

    .italic {
      text-align: right;
      margin-right: -20px;
      margin-bottom: -40px;
    }
  }

  @media (max-width: 700px) {
    .description-image-container {
      grid-template-columns: 1fr;
    }

    .description {
      padding-block: 20px 0;
    }
  }
}
